/* styles.css или любой другой ваш CSS файл */
.receipt {
  width: 300px;
  font-size: 12px;
  padding: 10px;
  border: 1px solid #000;
  margin-bottom: 20px;
}

.receipt h2,
.receipt h3 {
  text-align: center;
  margin: 5px 0;
}

.receipt ul {
  list-style-type: none;
  padding: 0;
}

.receipt ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #000;
  padding: 5px 0;
}
.price-receipt {
  width: 45%;
  display: flex;
  align-items: center;
}

.price-receipt p {
  margin-bottom: 0;
}

.amount {
  margin-right: auto;
}

.info-check {
  margin: 0 0 10px 0;
}

.payM {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
